body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1b1818;
}

.stopwatch {
    text-align: center;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    color:rgb(2, 26, 26);
}

.display {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    
    background-color: rgb(150, 150, 85);
}

.laps {
    margin-top: 20px;
}

.laps ul {
    list-style-type: none;
    padding: 0;
}

.laps li {
    padding: 5px 0;
}
